{% extends 'base.html' %}

{% block title %}O meni - Moj Portfolio{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8">
        <h1>O meni</h1>
        <p class="lead">Pasionirani sam programer i većinu svog vremena provodim pišući kod i učeći nove tehnologije. Programiranje mi nije samo posao, već iskrena strast u kojoj 
            zaista uživam. Kada nisam za računarom, treniram u teretani, trčim, vozim bicikl i volim da se opustim uz filmove i serije, kao i da provodim kvalitetno vreme sa devojkom. 
            Posebno uživam u boravku u prirodi - šetnje, planinaranje i hiking su moj omiljeni način da napunim baterije.</p>
        
        <h3 class="mt-4">Tehnologije koje koristim:</h3>
        <div class="row mt-3">
            <div class="col-md-6">
                <ul class="list-unstyled">
                    <li><i class="fas fa-check text-success me-2"></i>Python</li>
                    <li><i class="fas fa-check text-success me-2"></i>Django & Django REST Framework</li>
                    <li><i class="fas fa-check text-success me-2"></i>PHP</li>
                    <li><i class="fas fa-check text-success me-2"></i>PostgreSQL / MySQL</li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="list-unstyled">
                    <li><i class="fas fa-check text-success me-2"></i>HTML5, CSS3, JavaScript</li>
                    <li><i class="fas fa-check text-success me-2"></i>Bootstrap 5</li>
                    <li><i class="fas fa-check text-success me-2"></i>Linux</li>
                    <li><i class="fas fa-check text-success me-2"></i>Git & GitHub</li><li>
                </ul>
            </div>
        </div>
        
        <h3 class="mt-4">Iskustvo</h3>
        <p>Trenutno bez radnog iskustva ali stalno učim i usavršavam svoje veštine kroz lične i open-source projekte.</p>
        <h3 class="mt-4">Obrazovanje</h3>
        <p>Trenutno sam apsolvent Visoke škole Elektrotrhnike i računarstva, na smeru Nove računaske tehnologije i deli me samo diplomski rad do sticanje diplome.</p>
        
        
        <a href="../../static/CV_Veljko_Jakovljevic.pdf" class="btn btn-primary mt-3" download>
            <i class="fas fa-download me-2"></i>Preuzmi moj CV
        </a>
    </div>
</div>
{% endblock %}